<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ AppName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" >
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main-card {{ plataforma }}">
    <ion-card-header class="main-header">
      <ion-card-title>¡Hola!</ion-card-title>
    </ion-card-header>
    <div class="main-card-img"></div>
    <!--<img class="main-card-img" src="../../assets/img/hamster.png" alt="hamster image" />-->
  </ion-card>
</ion-content>